@model WebAppMVCFramework.DTO.CustomerList

@{
    ViewBag.Title = "Customers";
}

<h2 class="text-center">Customers</h2>
<br />
<div class="justify-content-center">
    <table id="customers" class="table table-hover">
        <thead class="table-dark">
            <tr class="text-center">
                <th>Customers</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Scripts/customers.datatable.readonly.js"></script>
}
